/* these apply to all pages: */
html {
  font-size: 20px;
  box-sizing: border-box;
  margin-left: 50px;
  margin-right: 50px;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #000500;
  font-family: 'Gloock', serif;
  color: #6e8894;
  text-align: center;
}

.logoIcon{
  margin: 20px;
  color:#6e8894;
  position: fixed;
  top: 20px;
  left: 95%;
  transition: transform 1s;
}

.logoIcon:hover{
  cursor: pointer;
  transform: scale(1.5);
}
/* these apply to all pages ^ */


.title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.sheepTitle {
  color: #efd6ac;
}

.wolfTitle {
  color: #c44900;
}


.subtitle {
  color: #efd6ac;
}

.semi {
  color: #c44900;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-family: 'Gloock', serif;
  font-size: 1.1rem;
}

button:hover {
  cursor: pointer;
}

#meetSugar {
  background-color: #efd6ac;
  color: #c44900;
}

#meetInk {
  background-color: #c44900;
  color: #efd6ac;
}

.levelTitle{
  margin-top: 50px;
}

.levelSection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /*-- below was necessary for me hehehe --*/
  margin-bottom: 200px;
}

.levelLink{
  text-decoration: none;
  color: #efd6ac;
  background-color: #6e8894;
  padding: 30px;
  border-radius: 10px;
  margin: 5px;
}



.footer{
  width: 100%;
  background-color: #efd6ac;
  text-align: right;
  padding: 20px;
  position: fixed;
  bottom: 0;

}

#myName{
  color: #c44900;
  padding-right: 50px;
}