/* these apply to all pages: */
html {
  font-size: 20px;
  box-sizing: border-box;
  margin-left: 50px;
  margin-right: 50px;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #000500;
  font-family: 'Gloock', serif;
  color: #6e8894;
  text-align: center;
}

.logoIcon{
  margin: 20px;
  color:#6e8894;
  position: fixed;
  top: 20px;
  left: 95%;
  transition: transform 1s;
}

.logoIcon:hover{
  cursor: pointer;
  transform: scale(1.5);
}
/* these apply to all pages ^ */










.footer{
  width: 100%;
  background-color: #efd6ac;
  text-align: right;
  padding: 20px;
  position: fixed;
  bottom: 0;

}

#myName{
  color: #c44900;
  padding-right: 50px;
}