html {
    font-size: 16px;
    box-sizing: border-box;
  }
  
  *{
    box-sizing: inherit;
  }
  
  body {
    background-color: #000500;
    font-family: 'Gloock', serif;
    color: #6e8894;
    text-align: center;
  }
